body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header, footer {
    padding: 1em 2em;
}
h1 {
    margin: 0;
    padding: .67em 0;
}
h3 {
    font-weight: 400;
}
img {
    max-width: 100%;
}
main{
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 2em;
    justify-items: center;
}
main img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.duim {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.duim img, .duim p {
    grid-column: 1;
    grid-row: 1;
}

.duim p {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 900;
    text-align: center;
    text-shadow: 0 0 4px #000000;
}

/* modaal opmaken */
.modaal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    display: grid;
    align-items: center;
    justify-content: center;
}

.sluit-knop {
    float: right;
    font-size: 1.5em;
    padding: 0.5em 0.5rem;
}

.sluit-knop:hover {
    color: red;

}

.modaal-container {
    background-color: #ffffff;
    max-width: 45vw;
    padding: 2em;
    max-height: 85vh;
    overflow: auto;
    animation: schuif-binnen .6s cubic-bezier(.17,.67,.8,1.47) forwards;
}

.validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
    cursor: pointer;
}

@keyframes schuif-binnen {
    0% {margin-top: 90vh;}
    100% {margin-top: 0;}
}

@-moz-keyframes schuif-binnen {
    0% {margin-top: 90vh;}
    100% {margin-top: 0;}
}

@-webkit-keyframes schuif-binnen {
    0% {margin-top: 90vh;}
    100% {margin-top: 0;}
}

@-o-keyframes schuif-binnen {
    0% {margin-top: 90vh;}
    100% {margin-top: 0;}
}

.login {
    width: 100%;
    height: 100%;
    opacity: 0, 0, 0, 0.7;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.aanmelden {
 
}
.aanmelden-content {

}
.knop {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 25px;
    width: 200px;
    height: 50px;
    border-radius: 80px;
    line-height: 60px;
    border: 3px solid #009688;
    text-align: center;
    color: #009688;
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: .3s;
    display: block;
    text-decoration: none;
    
}
.knop:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #009688;
    top: -100%;
    opacity: .5;
    left: 0;
    z-index: -1;
    transition: .3s;
}
.knop:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #009688;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: .3s;
    transition-delay: .2s;
}
.knop:hover {
    color: #fff;
}
.knop:hover:before {
    top: 0;
}
.knop:hover:after {
    top: 0;
}

.input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}
